<section class="courses container-fluid">
    <div class="container">
        <div class="row">
            <div class="course-item transition-up col-lg-4 col-md-6 mb-3 mb-lg-3 mb-md-4">
                <div class="card">
                    <img class="course-item-img d-block img-fluid object-fit-contain" src="https://study4.com/media/courses/Course/files/2023/11/30/intensive_read_2.webp"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">[IELTS Intensive Reading] Chiến lược làm bài - Chữa đề - Từ vựng
                            IELTS Reading</h5>
                        <p class="card-text">Khóa học IELTS Intensive Listening và Intensive Reading cung cấp video bài giảng hướng dẫn chi tiết cách làm</p>
                        <div class="price fs-lg-3 fs-md-4 fs-6"><span class="text-success me-2">1.525.000</span><del class="text-danger fs-5 me-2">3.596.000</del><span class="badge text-white text-bg-danger">-57%</span></div>
                        <a href="#" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="course-item transition-up col-lg-4 col-md-6 mb-3 mb-lg-3 mb-md-4">
                <div class="card">
                    <img class="course-item-img d-block img-fluid object-fit-contain" src="https://study4.com/media/courses/Course/files/2023/11/30/intensive_read_2.webp"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">[IELTS Intensive Reading] Chiến lược làm bài - Chữa đề - Từ vựng
                            IELTS Reading</h5>
                        <p class="card-text">Khóa học IELTS Intensive Listening và Intensive Reading cung cấp video bài giảng hướng dẫn chi tiết cách làm</p>
                        <div class="price fs-lg-3 fs-md-4 fs-6"><span class="text-success me-2">1.525.000</span><del class="text-danger fs-5 me-2">3.596.000</del><span class="badge text-white text-bg-danger">-57%</span></div>
                        <a href="#" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="course-item transition-up col-lg-4 col-md-6 mb-3 mb-lg-3 mb-md-4">
                <div class="card">
                    <img class="course-item-img d-block img-fluid object-fit-contain" src="https://study4.com/media/courses/Course/files/2023/11/30/intensive_read_2.webp"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">[IELTS Intensive Reading] Chiến lược làm bài - Chữa đề - Từ vựng
                            IELTS Reading</h5>
                        <p class="card-text">Khóa học IELTS Intensive Listening và Intensive Reading cung cấp video bài giảng hướng dẫn chi tiết cách làm</p>
                        <div class="price fs-lg-3 fs-md-4 fs-6"><span class="text-success me-2">1.525.000</span><del class="text-danger fs-5 me-2">3.596.000</del><span class="badge text-white text-bg-danger">-57%</span></div>
                        <a href="#" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="course-item transition-up col-lg-4 col-md-6 mb-3 mb-lg-3 mb-md-4">
                <div class="card">
                    <img class="course-item-img d-block img-fluid object-fit-contain" src="https://study4.com/media/courses/Course/files/2023/11/30/intensive_read_2.webp"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">[IELTS Intensive Reading] Chiến lược làm bài - Chữa đề - Từ vựng
                            IELTS Reading</h5>
                        <p class="card-text">Khóa học IELTS Intensive Listening và Intensive Reading cung cấp video bài giảng hướng dẫn chi tiết cách làm</p>
                        <div class="price fs-lg-3 fs-md-4 fs-6"><span class="text-success me-2">1.525.000</span><del class="text-danger fs-5 me-2">3.596.000</del><span class="badge text-white text-bg-danger">-57%</span></div>
                        <a href="#" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>