<section class="banner container-fluid">
    <div class="container">
      <a class="btn btn-primary btn-lg px-4 mb-5" href="listTest.html">Trở về</a>
      <div class="row m-0">
        <div class="col-lg-9 mb-5 mb-lg-0 order-2 order-lg-1 border py-4 rounded-3">
          <h3 class="mb-1">Đề thi HK2 môn Toán 11 KNTT năm 2023 - 2024</h3>
          <span class="mb-3 d-block">Trường THPT Bình Phú</span>
          <div class="header-test mb-3 d-flex justify-content-between bg-secondary-subtle py-4 px-3 rounded-2">
            <div class="quantity-test">
              <i class="bi bi-check2-square"></i>
              40 câu
            </div>
            <div class="time-test">
              <i class="bi bi-alarm"></i>
              60 phút
            </div>
            <div class="time-test">
              <i class="bi bi-person"></i>
              0 lượt thi
            </div>
          </div>
          <div class="result text-center ">
            <h2 class="fs-2 my-5">Kết quả đạt được</h2>
            <div class="list-result d-flex flex-md-row flex-column justify-content-lg-around justify-content-center mb-3">
              <div class="result-item bg-primary rounded-3 text-white d-flex flex-column justify-content-center align-items-center m-3 m-lg-0">
                <span class="result-item-content">Số câu đúng</span>
                <p class="fs-1"><span>{{correctAnswersCount}}</span>/<span>40</span></p>
              </div>
              <div class="result-item bg-primary rounded-3 text-white d-flex flex-column justify-content-center align-items-center m-3 m-lg-0">
                <span class="result-item-content">Điểm số</span>
                <p class="fs-1">2.00</p>
              </div>
              <div class="result-item bg-primary rounded-3 text-white d-flex flex-column justify-content-center align-items-center m-3 m-lg-0">
                <span class="result-item-content">Thời gian làm bài</span>
                <p class="fs-1"><span>0</span>:<span>54</span></p>
              </div>
            </div>
            <span class="fs-3 text-danger">Bạn cần cố gắng thêm nữa</span>
          </div>
        </div>
        <div class="col-lg-3 order-1 order-lg-2 mb-5 mg-lg-0">
          <img class="mb-5 w-100 d-block img-fluid object-fit-cover"
            src="https://obin.distinctrobin.com/adt/adn/2021/09/banner-0nP2M9o1A1.jpeg" alt="" style="height: 250px;">
          <div class="top">
            <div class="card">
              <div class="card-header bg-primary text-white text-center fs-5 fw-bold">Top 10 lượt thi</div>
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th scope="col">Tên</th>
                    <th scope="col">Điểm</th>
                    <th scope="col">Thời gian</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Đinh Trọng Phúc</th>
                    <td>10</td>
                    <td>23 phút</td>
                  </tr>
                  <tr>
                    <th>Đinh Trọng Phúc</th>
                    <td>10</td>
                    <td>23 phút</td>
                  </tr>
                  <tr>
                    <th>Đinh Trọng Phúc</th>
                    <td>10</td>
                    <td>23 phút</td>
                  </tr>
                  <tr>
                    <th>Đinh Trọng Phúc</th>
                    <td>10</td>
                    <td>23 phút</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="list-test container-fluid mb-4">
    <div class="container">
      <h2 class="display-6 fw-semibold mb-3">Đề thi nổi bậc</h2>
      <ul class="list-group">
        <li class="list-group-item mb-5 border rounded-2 p-3">
          <div class="header-list-test mb-5">
            <h4>Đề thi giữa HK2 môn Toán 11 KNTT năm 2023 - 2024</h4>
            <span>Trường THPT Thủ Thừa</span>
          </div>
          <div class="body-list-test border-bottom border-2 pb-2 mb-5 d-flex">
            <div class="body-list-test-time me-4">
              <i class="bi bi-calendar-check"></i>
              19/02/2024
            </div>
            <div class="body-list-test-quantity me-4">
              <i class="bi bi-person"></i>
              2 lượt thi
            </div>
          </div>
          <div class="footer-list-test d-flex align-items-center">
            <div class="progress w-75">
              <div class="progress-bar" style="width:70%">30/40</div>
            </div>
            <a class="btn btn-outline-primary mx-auto" href="test.html">Bắt đầu thi</a>
          </div>
        </li>
        <li class="list-group-item mb-5 border rounded-2 p-3">
          <div class="header-list-test mb-5">
            <h4>Đề thi giữa HK2 môn Toán 11 KNTT năm 2023 - 2024</h4>
            <span>Trường THPT Thủ Thừa</span>
          </div>
          <div class="body-list-test border-bottom border-2 pb-2 mb-5 d-flex">
            <div class="body-list-test-time me-4">
              <i class="bi bi-calendar-check"></i>
              19/02/2024
            </div>
            <div class="body-list-test-quantity me-4">
              <i class="bi bi-person"></i>
              2 lượt thi
            </div>
          </div>
          <div class="footer-list-test d-flex align-items-center">
            <div class="progress w-75">
              <div class="progress-bar" style="width:70%">30/40</div>
            </div>
            <a class="btn btn-outline-primary mx-auto" href="test.html">Bắt đầu thi</a>
          </div>
        </li>
        <li class="list-group-item mb-5 border rounded-2 p-3">
          <div class="header-list-test mb-5">
            <h4>Đề thi giữa HK2 môn Toán 11 KNTT năm 2023 - 2024</h4>
            <span>Trường THPT Thủ Thừa</span>
          </div>
          <div class="body-list-test border-bottom border-2 pb-2 mb-5 d-flex">
            <div class="body-list-test-time me-4">
              <i class="bi bi-calendar-check"></i>
              19/02/2024
            </div>
            <div class="body-list-test-quantity me-4">
              <i class="bi bi-person"></i>
              2 lượt thi
            </div>
          </div>
          <div class="footer-list-test d-flex align-items-center">
            <div class="progress w-75">
              <div class="progress-bar" style="width:70%">30/40</div>
            </div>
            <a class="btn btn-outline-primary mx-auto" href="test.html">Bắt đầu thi</a>
          </div>
        </li>
        <li class="list-group-item mb-5 border rounded-2 p-3">
          <div class="header-list-test mb-5">
            <h4>Đề thi giữa HK2 môn Toán 11 KNTT năm 2023 - 2024</h4>
            <span>Trường THPT Thủ Thừa</span>
          </div>
          <div class="body-list-test border-bottom border-2 pb-2 mb-5 d-flex">
            <div class="body-list-test-time me-4">
              <i class="bi bi-calendar-check"></i>
              19/02/2024
            </div>
            <div class="body-list-test-quantity me-4">
              <i class="bi bi-person"></i>
              2 lượt thi
            </div>
          </div>
          <div class="footer-list-test d-flex align-items-center">
            <div class="progress w-75">
              <div class="progress-bar" style="width:70%">30/40</div>
            </div>
            <a class="btn btn-outline-primary mx-auto" href="test.html">Bắt đầu thi</a>
          </div>
        </li>
        <li class="list-group-item mb-5 border rounded-2 p-3">
          <div class="header-list-test mb-5">
            <h4>Đề thi giữa HK2 môn Toán 11 KNTT năm 2023 - 2024</h4>
            <span>Trường THPT Thủ Thừa</span>
          </div>
          <div class="body-list-test border-bottom border-2 pb-2 mb-5 d-flex">
            <div class="body-list-test-time me-4">
              <i class="bi bi-calendar-check"></i>
              19/02/2024
            </div>
            <div class="body-list-test-quantity me-4">
              <i class="bi bi-person"></i>
              2 lượt thi
            </div>
          </div>
          <div class="footer-list-test d-flex align-items-center">
            <div class="progress w-75">
              <div class="progress-bar" style="width:70%">30/40</div>
            </div>
            <a class="btn btn-outline-primary mx-auto" href="test.html">Bắt đầu thi</a>
          </div>
        </li>
      </ul>
    </div>
  </div>