<div ng-include="'app/Views/Layouts/banner.html'"></div>
<ng-include src="'app/Views/Courses/courses.html'"></ng-include>

<ng-include src="'app/Views/Layouts/bannerChirld.html'"></ng-include>

<ng-include src="'app/Views/Quizes/quizesHome.html'"></ng-include>

<section class="community container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img class="d-block img-fluid w-100"
                    src="https://study4.com/media/courses/Course/files/2023/10/11/intensive_speak.webp" alt="">
            </div>
            <div class="col-lg-8">
                <ul>
                    <li>Cộng đồng học tiếng Anh và luyện thi sôi nổi với hơn 250.000 học viên mỗi tháng</li>
                    <li>Đặt câu hỏi cho đội ngũ trợ giảng cũng như các học viên khác để nhận giải đáp sau 30
                        phút</li>
                    <li>Chia sẻ kinh nghiệm học tập và làm bài thi với các thành viên khác</li>
                    <li>Luyện tập kỹ năng nói & viết và nhận được nhận xét và chấm điểm từ cộng đồng và giảng
                        viên</li>
                </ul>
                <a class="btn btn-primary d-block" href="#">Tham gia ngay</a>
            </div>
        </div>
    </div>
</section>
<section class="form-home container-fluid position-relative px-0 mb-5">
    <img class="d-block img-fluid z-n1 position-absolute top-0 w-100 h-100 object-fit-cover opacity-75"
        src="asset/images/students (1).webp" alt="">
    <div class="container">
        <div class="col-lg-6 mx-auto text-white">
            <h2 class="text-center mb-3 fs-3">Đăng ký thông tin khóa học</h2>
            <form class="bg-white p-3 rounded-3">
                <div class="mb-3">
                    <input type="text" class="form-control" id="fullnameHome" aria-describedby="fullnameHelp"
                        placeholder="Họ và tên">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="phoneHome" aria-describedby="phoneHome"
                        placeholder="Số điện thoại">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="locationHome"
                        aria-describedby="locationnameHelp" placeholder="Khu vực bạn học">
                </div>
                <select class="form-select mb-3" aria-label="Default select example">
                    <option selected>Môn học bạn quan tâm</option>
                    <option value="1">Toán</option>
                    <option value="2">Vật lý</option>
                    <option value="3">Hóa học</option>
                    <option value="3">Sinh học</option>
                </select>
                <button type="submit" class="btn btn-primary w-100 fs-5">Đăng ký tư vấn miễn phí</button>
            </form>
        </div>
    </div>
</section>