<div class="header-list-test container-fluid bg-secondary-subtle mb-3">
  <div class="container py-4">
      <h1 class="fs-3 mb-5">Danh sách</h1>
      <h1>{{title}}</h1>
      <ul class="list-unstyled d-flex flex-wrap mb-5">
        <li ng-repeat="cate in categories" class="list-category fw-bold py-2 px-4 me-4 mb-3 rounded-5">
          <a class="text-dark text-decoration-none" ng-click="filterByCategory(cate.id)">{{cate.name}}  </a>
      </li>
      </ul>
      <div class="search-list-test mb-5">
          <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Nhập từ khoá bạn muốn tìm kiếm: tên sách, dạng câu hỏi ..."
                  aria-label="Recipient's username" aria-describedby="basic-addon2" ng-model="searchTitle">
              <span class="input-group-text" id="basic-addon2"><i class="bi bi-search"></i></span>
          </div>
          <a class="btn btn-primary mb-3" ng-click="search()">Tìm kiếm</a>
      </div>
      <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
              Mức độ
          </button>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item"  ng-click="filterByRank('normal')">Thường</a></li>
              <li><a class="dropdown-item"  ng-click="filterByRank('medium')">Trung bình</a></li>
              <li><a class="dropdown-item"  ng-click="filterByRank('critical')">Khó</a></li>
          </ul>
      </div>
  </div>
</div>
<div class="list-test container-fluid mb-4">
  <div class="container">
      <ul class="list-group">
          <li ng-repeat="quiz in filteredQuizes" class="list-group-item mb-5 border rounded-2 p-3">
              <div class="header-list-test mb-5">
                  <h4>{{quiz.title}}</h4>
                  <span>{{quiz.location}}</span>
              </div>
              <div class="body-list-test border-bottom border-2 pb-2 mb-5 d-flex">
                  <div class="body-list-test-time me-4">
                      <i class="bi bi-calendar-check"></i>
                      {{quiz.created_at | date: "MMMM-dd, yyyy"}}
                  </div>
                  <div class="body-list-test-quantity me-4">
                      <i class="bi bi-person"></i>
                      {{quiz.user_join}}
                  </div>
              </div>
              <div class="footer-list-test d-flex align-items-center">
                  <div class="progress w-75">
                      <div class="progress-bar" style="width:70%">30/40</div>
                  </div>
                  <a class="btn btn-outline-primary mx-auto ms-3 ms-lg-5" href="#!test/{{quiz.id}}">Bắt đầu thi</a>
              </div>
          </li>
      </ul>
  </div>
</div>
 
 