<footer class="container-fluid mt-5 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <a class="text-decoration-none text-dark fs-4 fw-bold" href="index.html">HOCTHI</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <ul class="list-unstyled">
                    <li class="mb-1">
                        <a class="text-dark fw-semibold fs-5 text-decoration-none" href="#">Khóa học online</a>
                    </li>
                    <li class="mb-1">
                        <a class="text-dark text-decoration-none" href="#">Khóa học Toán THPTQG</a>
                    </li>
                    <li class="mb-1">
                        <a class="text-dark text-decoration-none" href="#">Khóa học Vật lý THPTQG</a>
                    </li>
                    <li class="mb-1">
                        <a class="text-dark text-decoration-none" href="#">Khóa học Hóa học THPTQG</a>
                    </li>
                    <li class="mb-1">
                        <a class="text-dark text-decoration-none" href="#">Khóa học Sinh học THPTQG</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <ul class="list-unstyled">
                    <li class="mb-1">
                        <a class="text-dark fw-semibold fs-5 text-decoration-none" href="#">HOCTHI</a>
                    </li>
                    <li class="mb-1">
                        <a class="text-dark text-decoration-none" href="about.html">Về chúng tôi</a>
                    </li>
                    <li class="mb-1">
                        <a class="text-dark text-decoration-none" href="contact.html">Liên hệ</a>
                    </li>
                    <li class="mb-1">
                        <a class="text-dark text-decoration-none" href="#">Điều khoản bảo mật</a>
                    </li>
                    <li class="mb-1">
                        <a class="text-dark text-decoration-none" href="#">Điều khoản và Điều Kiện Giao Dịch</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <ul class="list-unstyled">
                    <li class="mb-1">
                        <a class="text-dark fw-semibold fs-5 text-decoration-none" href="#">Tài nguyên</a>
                    </li>
                    <li class="mb-1">
                        <a class="text-dark text-decoration-none" href="#">Thư viện đề thi</a>
                    </li>
                    <li class="mb-1">
                        <a class="text-dark text-decoration-none" href="#">Blogs</a>
                    </li>
                    <li class="mb-1">
                        <a class="text-dark text-decoration-none" href="#">Kho tài liệu</a>
                    </li>
                    <li class="mb-1">
                        <a class="text-dark text-decoration-none" href="#">Nhóm học tập</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>