
<div ng-controller="loginController">
    <header class="container-fluid shadow-sm z-2 position-sticky top-0 bg-white">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand fw-bold" href="#!">HOCTHI</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item me-2 mb-3 mb-lg-0">
                                <a class="nav-link active" aria-current="page" href="#!">Trang chủ</a>
                            </li>
                            <li class="nav-item me-2 mb-3 mb-lg-0">
                                <a class="nav-link" aria-current="page" href="#!listTest">Đề thi online</a>
                            </li>
                            <li class="nav-item me-2 mb-3 mb-lg-0">
                                <a class="nav-link" aria-current="page" href="#!courses">Khóa học online</a>
                            </li>
                            <li class="nav-item me-2 mb-3 mb-lg-0">
                                <a class="nav-link" aria-current="page" href="#!blog">Blog</a>
                            </li>
                            <li class="nav-item me-2 mb-3 mb-lg-0">
                                <a class="nav-link" aria-current="page" href="#!contact">Contact</a>
                            </li>
                            <li class="nav-item me-2 mb-3 mb-lg-0">
                                <a class="nav-link" aria-current="page" href="#!about">About</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i ng-show="!user" class="bi bi-person"></i>
                                    <!-- <div>phuc</div> -->
                                    <span ng-show="user">{{user.name}}</span>
                                </a>
                                <ul class="dropdown-menu">
                                  <!-- <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#loginForm" >Đăng nhập</a></li>
                                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#resgisterForm">Đăng ký</a></li> -->
                                  <li><a class="dropdown-item" ng-show="user.is_admin" href="#!manager/quizes">Quản lý quiz</a></li>
                                  <li><hr class="dropdown-divider" ng-show="user.is_admin"></li>
                                  <li><a class="dropdown-item" ng-show="!user" href="#!account/login">Đăng nhập</a></li>
                                  <li><a class="dropdown-item" href="#!account/register">Đăng ký</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item" ng-show="!user" href="#!acount/forgot">Quên mật khẩu</a></li>
                                  <li><a class="dropdown-item" ng-show="user" href="#!acount/change">Đổi mật khẩu</a></li>
                                  <li><hr class="dropdown-divider" ng-show="user.is_admin"></li>
                                  <li><a class="dropdown-item" ng-show="user" href="#!acount/profile">Cật nhật hồ sơ</a></li>
                                  <li><a class="dropdown-item" ng-show="user" href="#!acount/orders">Đơn hàng đã mua</a></li>
                                  <li><hr class="dropdown-divider" ng-show="user.is_admin"></li>
                                  <li><a class="dropdown-item" ng-show="user" class="dropdown-item" href="javascript:vuid(0)" ng-click="logout()">Đăng xuất</a></li>
                                </ul>
                              </li>
                            
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="modal" id="resgisterForm"  aria-labelledby="loginFormLabel" aria-hidden="true" data-bs-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Xin chào! chúc bạn một ngày tốt lành</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="#">
                        <div class="mb-3">
                            <label for="emailLoginForm" class="form-label">Nhập địa chỉ
                                email</label>
                            <input type="email" class="form-control" id="emailLoginForm"
                                placeholder="Nhập email" autocomplete="username">
                        </div>
                        <div class="mb-3">
                            <label for="phoneLoginForm" class="form-label">Nhập số điện thoại</label>
                            <input type="text" class="form-control" id="phoneLoginForm" autocomplete="username"
                                placeholder="Nhập số điện thoại">
                        </div>
                        <div class="mb-3">
                            <label for="passwordLoginForm" class="form-label">Nhập mật khẩu</label>
                            <input type="password" class="form-control" id="passwordLoginForm" placeholder="Nhập mật khẩu" autocomplete="current-password">
                        </div>
                        <div class="mb-3">
                            <label for="respasswordLoginForm" class="form-label">Nhập lại mật khẩu</label>
                            <input type="password" class="form-control" id="respasswordLoginForm" autocomplete="current-password"
                                placeholder="Nhập lại mật khẩu">
                        </div>
                        <span class="mb-3 d-block">Khi bấm đăng ký, bạn đã đồng ý với <a class="link-offset-2" href="#">chính sách</a> và <a class="link-offset-2" href="#">điều kiện sử dụng</a> của HOCTHI</span>
                        <button class="btn btn-primary d-block">Đăng ký</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                        data-bs-dismiss="modal">Đóng</button>
                </div>
    
            </div>
        </div>
    </div>
    <div class="modal" id="loginForm" tabindex="-1" aria-labelledby="loginFormLabel" aria-hidden="true" data-bs-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Xin chào! chúc bạn một ngày tốt lành</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form ng-submit="login()">
                        <div class="mb-3">
                            <label for="emailRegisterForm" class="form-label">Nhập địa chỉ
                                email</label>
                            <input type="email" class="form-control" id="emailRegisterForm" autocomplete="username"
                                placeholder="Nhập email" ng-model="email">
                        </div>
                        <div class="mb-3">
                            <label for="passwordRegisterForm" class="form-label">Nhập mật khẩu</label>
                            <input type="password" class="form-control" id="passwordRegisterForm" autocomplete="current-password"
                                placeholder="Nhập mật khẩu" ng-model="password">
                        </div>
                        <span class="mb-3 d-block">Quên mật khẩu? <a class="link-offset-2" href="ressetPassword.html">Nhấn vào đây</a></span>
                        <button type="submit" class="btn btn-primary d-block">Đăng nhập</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                        data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>